<ng-content></ng-content>
<!-- <ul>
  <li [ngClass]="{'selected': i == selectedIndex}" (click)="subscribalService.publishValue('KEY_TO_APPEND', o)" style="padding: 6px; border: 1px solid green;margin:1px; cursor:pointer;" *ngFor="let o of dropdownList | filter : sText; index as i">
    {{o}}</li>
  <li (click)="onItemClick(o)" style="padding: 6px; border: 1px solid green;margin:1px; cursor:pointer;" *ngFor="let o of dropdownList | filter : sText">{{o}}</li>
</ul> -->


<div class="autocomplete-wrapper">
  <div class="list-group autocomplete">
    <ul>
      <li class="list" [ngClass]="{'active': i == selectedIndex}" (click)="subscribalService.publishValue('KEY_TO_APPEND', o)" *ngFor="let o of dropdownList | filter : sText; index as i">
        {{o}}
      </li>
    </ul>
  </div>
</div>
