
<h1>JSONPath AutoComplete</h1>
<!-- <input type="text" (keyup.enter)="test($event.target.value)" name="" value="">


<div style="display: flex" class="">
  <div style="width: 40%">
    <pre>{{v | json}}</pre>
  </div>
  <div style="width: 30%">
    <pre>{{v1 | json}}</pre>
  </div>
  <div  style="width: 30%" class="">
    <pre>{{erro}}</pre>

  </div>
</div> -->

<div class="" style="width: 50%">
  <app-drop-down [searchText]="searchText">
    <input #inputBox style="width: 100%; height: 40px;" type="text" appInputFeature autofocus>
  </app-drop-down>
</div>
<!--  -->

<div class="" style="width: 50%;">
    <pre>{{jsonObject | json}}</pre>
</div>
